<footer class="footer page-footer bg-dark mt-4 pt-4">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h5 class="text-white">Microbiology Data Portal</h5>
        <p class="text-white">Microbiology data access with ease</p>
      </div>
      <div class="col-6">
        <h5 class="text-white">Links</h5>
        <ul>
          <li><a class="text-white" href="/vitek">Vitek Data</a></li>
          <li><a class="text-white" href="/about">About</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container text-white">
    © 2018 Microbiology Data Portal
    </div>
  </div>
</footer>